@import url(http://weloveiconfonts.com/api/?family=fontawesome);

body {
  font-family: 'Lato', sans-serif;
  color: #747704;
  font-weight: 300;
}

.text-muted {
  color: #BCBBBB;
}

.title-super {
  font-size: 50px;
}
.subtitle-super {
  font-size: 18px;
}
.featured-title {
  font-size: 40px;
  margin-top: 40px;
}
.text-shadowed-bold
{
  text-shadow: 3px 3px 5px #888888,
}
.text-shadowed-thin
{
  text-shadow: 3px 3px 3px #888888
}
.text-thin {
  font-weight: 100;
}
.logo {
  max-width: 100px;
  max-height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-filter: drop-shadow( 3px 3px 3px #888888 );
  filter: drop-shadow( 3px 3px 3px #888888 );
}
.featured-picture {
  max-width: 100%;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 10px #888888;
}
.work-picture {
  max-width: 100%;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.work-picture-modal {
  max-width: 100%;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3%;
  padding-bottom: 3%;
}


.header-linebreak {
  height: 3px;
  border:none;
  background-color: #BCBBBB;
}

.work-card {

  margin: 2%;
  padding: 2%;
  box-shadow: 5px 5px 10px #888888;
  transition: box-shadow 1s;
}

.work-card:hover {
  box-shadow: 10px 10px 50px #888888;
  transition: box-shadow 1s;
}

.work-card-canvas {
  padding-top: 15px;
  padding-bottom: 15px;
}

.caption-link {
  font-size: 11px;
  color: #BCBBBB;
}

.modal-section {
  border-top: 1px solid #e5e5e5;
}

a {
  color: @link-color;
  text-decoration: none;

  &:hover {
    color: @link-hover-color;
    text-decoration: underline;
  }
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  font-size: 50px;
}

.social-networks-wrapper {
  margin-left: 20px;
  margin-right: 20px;
}